#About {
  background: linear-gradient(to bottom, #180f69, #3a0544,  #202ae0 ); /* Gradient background color */
  color: #fff; /* Text color */
 
  padding: 50px; /* Add padding to create space between content and edges */
}

.title{
 
    flex-direction: column; 
}

.me {font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   
  max-width: 60%; /* Limit content width to half of the page */
padding-left:40%;

  margin:  4px; /* Center content horizontally */
  text-align: justify;
   text-align-last: left;
   

}


.title {
  text-align: center; /* Center align title */
}

.content {
    
   
  margin-right: 0; /* Remove right margin to ensure full width */
}
